.bg-modal-success{
    background-color: #e1fad7;
}

.br-modal-success{
    background-color: #00b700;
}

.bg-modal-error{
    background-color: #ffa8b0;
}

.br-modal-error{
    background-color: red;
}