<div class="news-wrap">
  <!-- <mat-card *ngFor="let item of news.articles" [routerLink]="['../news-info', item]" class="example-card"> -->
    <mat-card *ngFor="let item of news.articles" (click)="moveToNewsInfo(item)" class="news-card">
    <mat-card-header>
      <mat-card-title>{{item.title}}</mat-card-title>
    </mat-card-header>
    <div class="image-wrap">
      <img mat-card-image src={{item.urlToImage}} alt="Photo of a Shiba Inu">
    </div>
    <mat-card-content>
      <p>{{item.description}}</p>
    </mat-card-content>
    <mat-card-footer>
      <span>{{item.publishedAt | date:'MMMM d, y, h:mm:ss a'}}</span>
    </mat-card-footer>
  </mat-card>
</div>